<link href="createPoll.css" rel="stylesheet" type="text/css">


<div class="parent">
<h1>Poll</h1>



<form action="/newPoll" method="POST">


    
    <div class="tags" >
        <label for="question">question</label>
        <input type="text" id="question" name="question">
    </div>

    <div class="tags">
        <label for="option1">Option 1</label>
        <input type="option1" id="option1" name="option1">
    </div>

    <div class="tags">
        <label for="option2">Option 2</label>
        <input type="option2" id="option2" name="option2">
    </div>

    <div class="tags">
        <label for="option3">Option 1</label>
        <input type="option3" id="option3" name="option3">
    </div>

    <div class="tags">
        <label for="option1">Option 1</label>
        <input type="option4" id="option4" name="option4">
    </div>

    <button class ="btn" type="submit">submit</button>

</form>

<a class="link" href="/">back</a>
</div>