<link href="createTeam.css" rel="stylesheet" type="text/css">

<div class='parent'>

<h1>HI</h1>

<form action="/newTeam" method="POST">

    <div class="tags" >
        <label for="team">Team name</label>
        <input type="text" id="team" name="team">
    </div>

    <button class ="btn" type="login">submit</button>

</form>

</div>