* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: aquamarine;
  margin: 0;
}

.parent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  top: 30%;
}

.btn {
  position: relative;
  display: grid;
  top: 30px;
}

.text {
  font-size: 50px;
  color: coral;
}
