<link href="index.css" rel="stylesheet" type="text/css">


<div class="parent">
<div class="text">Home Page</div>


<form action="/createTeam" method="POST">
<button class='btn' type="submit">Create Team</button>
</form>

<form action="/joinTeam" method="POST">
    <button class='btn' type="submit">View Invites</button>
    </form>

<form action="/createPoll" method="POST">
    <button class='btn' type="submit">Create Poll</button>
     </form>

<form action="/" method="POST">
<button class='btn' type="submit">Log out</button>
</form>



</div>
