<link href="invite.css" rel="stylesheet" type="text/css">


<div class="parent">
<h1>Invite a Friend</h1>



<form action="/invited" method="POST">


    
    <div class="tags" >
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
    </div>

    <button class ="btn" type="submit">send</button>

</form>

<a class="link" href="/">back</a>
</div>