* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: silver;
  margin: 0;
}

.parent {
  font-size: 20px;
  color: forestgreen;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  top: 30%;
}

.btn {
  position: relative;
  display: flex;
  top: 30px;
  left: 35%;
}
