* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lightblue;
  margin: 0;
}

.parent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  top: 30%;
}

.btn {
  position: relative;
  display: flex;
  top: 30px;
  left: 35%;
}

.tags {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px;
  top: 10px;
}

.link {
  position: relative;
  display: flex;
  top: 30px;
}
