<link href="login.css" rel="stylesheet" type="text/css">


<div class="parent">
<h1 class="text">Login</h1>



<form action="/logData" method="POST">


    
    <div class="tags" >
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
    </div>

    <div class="tags">
        <label for="password">password</label>
        <input type="password" id="password" name="password">
    </div>

    <button class ="btn" type="login">Login</button>

</form>

<a class="link" href="/register">Register</a>


</div>